version: ''

services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env

  web:
    build: .
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/app/staticfiles 
      - media_volume:/app/media
    expose:
      - 8000 
    depends_on:
      - db
    env_file:
      - .env
    

  bot:
    build: .
    command: python bot.py
    depends_on:
      - db
    env_file:
      - .env

 
  nginx:
    image: nginx:1.25-alpine 
    ports:
      - "80:80" 
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf 
      - static_volume:/home/app/web/staticfiles 
      - media_volume:/home/app/web/media
    depends_on:
      - web

volumes:
  postgres_data:
  static_volume: 
  media_volume:
